html {
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;

h1,h2,h3{
    font-family: Oswald,sans-serif;
    font-weight: bold;
}

h1{
    text-transform: uppercase;
}
p,a,li{
    font-family: Roboto,sans-serif;
    @apply leading-loose;
}
.contact-me,
#cursos article{
    background: url("./images/corner-tr.svg") no-repeat top right,
                url("./images/corner-tl.svg") no-repeat top left,
                url("./images/corner-bl.svg") no-repeat bottom left,
                url("./images/corner-br.svg") no-repeat bottom right;
    background-size: 50px;
}


@tailwind utilities;
